@media (min-width: 1567px) {
    #itemInfo {
        max-height: calc(100vh - 290px);
        overflow-y: auto;
        max-width: 900px;
        padding: 8px 10px;
        margin: auto;
        background-color: rgba(0,0,0,0.5);
        font-family: 'Ubuntu', sans-serif;
        font-size: 13pt;
        color: rgba(200,200,200,1);
    }
}

@media (max-width: 1566px) {
    #itemInfo {
        max-height: calc(100vh - 441px);
        overflow-y: auto;
        max-width: 900px;
        padding: 8px 10px;
        margin: auto;
        background-color: rgba(0,0,0,0.5);
        font-family: 'Ubuntu', sans-serif;
        font-size: 13pt;
        color: rgba(200,200,200,1);
    }
}

article {
    width: calc(100vw - 60px);
    padding: 35px 30px;
}

#topBar {
    height: 35px;
    max-width: 900px;
    padding: 5px 10px 0 10px;
    margin: auto;
    border-radius: 5px 5px 0 0;
    background-color: rgba(0,0,0,0.7);
    font-family: 'Questrial', sans-serif;
    font-weight: 700;
    font-size: 22pt;
    color: rgba(175,175,175,1);
}

#bottombar {
    height: 15px;
    max-width: 900px;
    padding: 0 10px;
    margin: auto;
    border-radius: 0 0 5px 5px;
    background-color: rgba(0,0,0,0.7);
}