/* navigation */

.mainpages {
    font-family: 'Questrial', sans-serif;
    text-align: center;
    padding: 5px 0;
    background-color: rgba(0,0,0,0.6);
}

    .mainpages>a {
        padding: 5px 12px;
        border-radius: 0 0 8px 8px;
        font-size: 16pt;
        color: rgba(175,175,175,1);
    }

        .mainpages>a:hover {
            cursor: pointer;
            color: rgba(240,240,240,1);
        }

/* content window */

article {
    width: calc(100vw - 60px);
    padding: 35px 30px;
}

#topBar {
    height: 35px;
    max-width: 900px;
    padding: 5px 10px 0 10px;
    margin: auto;
    border-radius: 6px 6px 0 0;
    background-color: rgba(255,255,255,0.8);
    font-family: 'Questrial', sans-serif;
    font-weight: 700;
    font-size: 22pt;
}

#itemInfo {
    max-height: calc(100vh - 290px);
    overflow-y: auto;
    max-width: 900px;
    padding: 8px 10px;
    margin: auto;
    background-color: rgba(255,255,255,0.6);
    font-family: 'Ubuntu', sans-serif;
    font-size: 13pt;
}

#bottombar {
    height: 15px;
    max-width: 900px;
    padding: 0 10px;
    margin: auto;
    border-radius: 0 0 6px 6px;
    background-color: rgba(255,255,255,0.8);
}