<header>
    <h1>
        <a id='0' (click)='onLinkClick("0")'>
            {{pageTitle}}
        </a>
    </h1>
    <h2>{{pageSubtitle}}</h2>
    <a class='lang' id='english'>English</a>
    <a class='lang' id='svenska'>Svenska</a>
</header>

<div class='mainpages'>
    <a id='1' (click)='onLinkClick("1")'>Products</a>
    <a id='2' (click)='onLinkClick("2")'>Clients</a>
    <a id='3' (click)='onLinkClick("3")'>Diplomas</a>
    <a id='4' (click)='onLinkClick("4")'>News</a>
</div>

<aside *ngIf='content && content.length'>
	<div id='top'>...</div>
	<div id='middle'>
		<ul *ngFor='let item of content'>
            <li (click)='onItemClick(item.id)'>
                    {{item.title}}
            </li>
		</ul>
	</div>
	<div id='bottom'>...</div>
</aside>

<article *ngIf='header && header.length'>
	<div id='topBar'>
		{{header}}
	</div>
	<div id='itemInfo'>
		{{text}}
	</div>
	<div id='bottombar'></div>
</article>

<footer>
    <address>
        <div>{{contact.Phone}}</div>
        <div><a href='mailto:{{contact.Email}}'>{{contact.Email}}</a></div>
    </address>
</footer>