<header>
    <h1>
        <a [routerLink]="['/home']">
            {{pageTitle}}
        </a>
    </h1>
    <h2>{{pageSubtitle}}</h2>
    <a class='lang' id='english'>English</a>
    <a class='lang' id='svenska'>Svenska</a>
</header>

<div class='mainpages'>
    <a class='pageLink' id='1'
        [routerLink]="['/references']">
        Products
    </a>
    <a class='pageLink' id='2'>
        Clients
    </a>
    <a>Diplomas</a>
    <a>News</a>
</div>

<router-outlet></router-outlet>

<footer>
    <address>
        <div>{{contact.Phone}}</div>
        <div><a href='mailto:{{contact.Email}}'>{{contact.Email}}</a></div>
    </address>
</footer>