<header>
    <h1>
        <a id='x' (click)='onLinkClick("x")'>
            {{pageTitle}}
        </a>
    </h1>
    <h2>{{pageSubtitle}}</h2>
    <a class='lang' id='english'>English</a>
    <a class='lang' id='svenska'>Svenska</a>
</header>

<div class='mainpages'>
    <a id='a' (click)='onLinkClick("a")'>Products</a>
    <a id='b' (click)='onLinkClick("b")'>Clients</a>
    <a id='c' (click)='onLinkClick("c")'>Diplomas</a>
    <a id='d' (click)='onLinkClick("d")'>News</a>
</div>

<aside *ngIf='content && content.length > 1'>
	<div id='top'>...</div>
	<div id='middle'>
		<ul *ngFor='let item of content'>
            <li id={{item.id}} (click)='onItemClick(item.id)'>
                    {{item.title}}
            </li>
		</ul>
	</div>
	<div id='bottom'>...</div>
</aside>

<article *ngIf='contentTitle && contentTitle.length'>
	<div id='topBar'>
		{{contentTitle}}
	</div>
	<div id='itemInfo' *ngIf='contentText && contentText.length'>
		{{contentText}}
	</div>
	<div id='bottombar'></div>
</article>

<footer>
    <address>
        <div>{{contact.Phone}}</div>
        <div><a href='mailto:{{contact.Email}}'>{{contact.Email}}</a></div>
    </address>
</footer>