.topBar {
    position: fixed;
    top: 180px;
    left: 30px;
    right: 30px;
    height: 35px;
    max-width: 900px;
    padding: 5px 10px 0 10px;
    margin: auto;
    border-radius: 6px 6px 0 0;
    background-color: rgba(255,255,255,0.8);
    font-family: 'Questrial', sans-serif;
    font-weight: 700;
    font-size: 22pt;
}

.itemInfo {
    position: fixed;
    top: 220px;
    bottom: 80px;
    left: 30px;
    right: 30px;
    overflow-y: auto;
    max-width: 900px;
    padding: 8px 10px;
    margin: auto;
    background-color: rgba(255,255,255,0.6);
    font-family: 'Ubuntu', sans-serif;
    font-size: 13pt;
}

.bottombar {
    position: fixed;
    bottom: 65px;
    left: 30px;
    right: 30px;
    height: 15px;
    max-width: 900px;
    padding: 0 8px;
    margin: auto;
    border-radius: 0 0 6px 6px;
    background-color: rgba(255,255,255,0.8);
}